{% load static %}
<section class="site-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2">{{ jobs|length }} Job Listed</h2>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-3">
                <div class="card py-4">
                    <div class="body">
                        {% for category in categories %}
                            {% if category.subcategories|length %}
                                <ul style="list-style: none">
                                    <li>
                                        <h5><b>{{ category.title }}</b></h5>
                                        <ul style="list-style: circle; ">
                                            {% for subcategory in category.subcategories %}
                                                <li style="margin-left: -10px"><a
                                                        href="{% url 'job.jobs' %}?{{ request.GET.urlencode }}&category={{ subcategory.title }}">{{ subcategory.title }}
                                                    <span class="badge badge-success text-white">{{ subcategory.jobs | length }}</span>
                                                </a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-9">
                <ul class="job-listings mb-5">
                    {% for job in jobs %}
                        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                            <a href="{{ job.get_absolute_url }}"></a>
                            <div class="job-listing-logo">
                                <img src="{{ job.company_logo.url }}" alt="Company Logo" class="img-fluid">
                            </div>

                            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                    <h2>{{ job.title }}</h2>
                                    <strong>{{ job.company_name }}</strong>
                                </div>
                                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                    <span class="icon-room"></span> {{ job.city }}
                                </div>
                                <div class="job-listing-meta">
                                    {% if job.type is 'Part-Time' %}
                                        <span class="badge badge-danger">Part Time</span>
                                    {% else %}
                                        <span class="badge badge-success">Full Time</span>
                                    {% endif %}
                                </div>
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row pagination-wrap">
            <div class="col-md-12 text-center text-md-left">
                <span class="float-right"> Found {{ jobs|length }} Job(s)</span>
            </div>
        </div>

    </div>
</section>