{% extends 'job/precreated_template/base-html.html' %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include 'job/precreated_template/navbar.html' %}
    {% include 'job/precreated_template/index-slider.html' %}
{#    {% include 'job/precreated_template/index-front-main.html' %}#}
    {% include 'job/precreated_template/index-job-list.html' %}
    {% if not request.user.is_authenticated %}
    {% include 'job/precreated_template/index-signup.html' %}
    {% endif %}
    {% include 'job/precreated_template/index-testimonies.html' %}
    {% include 'job/precreated_template/footer.html' %}
    {% include 'job/precreated_template/javascript.html' %}

{% endblock %}